@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400&display=swap');

$bg-color: #0d111c;
$dpd-color: #161c30;
$cars-bg-color: #090c14;
$fill-color: rgba(255,255,255,0.6);
$text-color: rgba(255,255,255,0.8);
$hover-color: #F9F9F9;
$alt-color: #1f80e0;
$round-corners: 4px;
$round-corners-large: 10px;
$circle: 9999px;
$font-family: 'Roboto', sans-serif;
$font-size: 18px;