@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400&display=swap");
a, p, h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  fill: rgba(255, 255, 255, 0.6);
  font-size: 18px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0d111c;
  width: 100%;
  height: 72px;
}

header .nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 66px;
  margin-top: 6px;
  padding: 0 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav .left-container .hamburger-menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 58px;
  height: 52px;
  padding: 20px;
  margin-left: -10px;
  cursor: pointer;
}

header .nav .left-container .hamburger-menu .line {
  width: 18px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.6);
}

header .nav .left-container .logo-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 162px;
  height: 62px;
  cursor: pointer;
}

header .nav .left-container .logo-container svg {
  width: inherit;
  height: 48px;
  padding-bottom: 14px;
}

header .nav .left-container .nav-links, header .nav .left-container .nav-links-kids {
  font-weight: 500;
  padding: 20px 15px;
  color: rgba(255, 255, 255, 0.8);
}

header .nav .left-container .nav-links:hover, header .nav .left-container .nav-links-kids:hover {
  color: #F9F9F9;
}

header .nav .left-container .nav-links-kids {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90px;
  height: 55px;
}

header .nav .left-container .nav-links-kids svg {
  padding-right: 20px;
}

header .nav .right-container .search {
  width: 240px;
  height: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

header .nav .right-container .search .nav-search-input {
  outline: none;
  background: none;
  border: none;
  font-size: inherit;
  caret-color: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

header .nav .right-container .search:focus-within {
  width: 340px;
  border-bottom: 1px solid #1f80e0;
}

header .nav .right-container .search input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 500;
}
/*# sourceMappingURL=main.css.map */