@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400&display=swap');

$bg-color: #0d111c;
$fill-color: rgba(255,255,255,0.6);
$text-color: rgba(255,255,255,0.8);
$hover-color: #F9F9F9;
$font-family: 'Roboto', sans-serif;
$font-size: 18px;

a,p,h1,h2,h3,h4,h5{
    font-family: $font-family;
    text-decoration: none;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.center{
    align-items: center;
}
body{
    margin: 0;
    padding: 0;
    color: $fill-color;
    fill: $fill-color;
    font-size: $font-size;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: $bg-color;
    width: 100%;
    height: 72px;
    // Navbar css
    .nav{
        box-sizing: border-box;
        height: 66px;
        margin-top: 6px;
        padding: 0 50px;
        justify-content: space-between;
        // left end content style navbar
        .left-container{
            // Hamburger menu properties
        .hamburger-menu{
            box-sizing: border-box;
            justify-content: space-between;
            width: 58px;
            height: 52px;
            padding: 20px;
            margin-left: -10px;
            cursor: pointer;
            .line{
                width: 18px;
                height: 2px;
                background-color: $fill-color;
            }
        }
        // hotstar logo styles
        .logo-container{
            box-sizing: border-box;
            width: 162px;
            height: 62px;
            cursor: pointer;
                svg{
                    width: inherit;
                    height: 48px;
                padding-bottom: 14px;
                    
                }
        }
        .nav-links{
            font-weight: 500;
            padding: 20px 15px;
            color: $text-color;
            &:hover{
                color: $hover-color;
            }
        }
        .nav-links-kids{
            @extend .nav-links;
            box-sizing: border-box;
            width:90px;
            height: 55px;
            svg{
                padding-right: 20px;
            }
        }
        }
        // right end content style navbar
        .right-container{
            .search{
                width: 240px;
                height: 32px;
                justify-content: space-between;
                border-bottom: 1px solid $fill-color;
                .nav-search-input{
                    outline: none;
                    background: none;
                    border: none;
                    font-size: inherit;
                    caret-color: $fill-color;
                    color: $fill-color;
                    }
                    &:focus-within {
                        width: 340px;
                        border-bottom: 1px solid #1f80e0;
                }
                input::-webkit-input-placeholder{
                    color: $text-color;
                    font-size: 16px;
                    font-weight: 500;
                }
                }
                
                
            }
            
    }
}