@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400&display=swap");
@media screen and (max-width: 900px) {
  .nav-links, header .nav .left-container .nav-links-kids {
    display: none;
  }
}

a, p, h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  fill: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  background-color: #0d111c;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 13;
  background-color: #0d111c;
  width: 100%;
  height: 72px;
  /*Navbar css*/
}

header .dropdown {
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: 55px;
  left: 0;
  z-index: 913;
  display: none;
  background-color: #161c30;
  border-radius: 4px;
}

header .dropdown li {
  padding: 10px 20px;
}

header .dropdown li:hover {
  background-color: #0d111c;
  -webkit-transition: width 2s;
  transition: width 2s;
}

header .nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 66px;
  margin-top: 6px;
  padding: 0 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav .left-container .hamburger-menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 58px;
  height: 52px;
  padding: 20px;
  margin-left: -10px;
  cursor: pointer;
}

header .nav .left-container .hamburger-menu .line {
  width: 18px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.6);
}

header .nav .left-container .hamburger-menu .dropdown {
  left: 50px;
}

header .nav .left-container .hamburger-menu:hover > .dropdown {
  display: block;
}

header .nav .left-container .logo-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 162px;
  height: 62px;
  cursor: pointer;
}

header .nav .left-container .logo-container svg {
  width: inherit;
  height: 48px;
  padding-bottom: 14px;
}

header .nav .left-container .nav-links, header .nav .left-container .nav-links-kids {
  position: relative;
  font-weight: 500;
  padding: 20px 15px;
  color: rgba(255, 255, 255, 0.8);
}

header .nav .left-container .nav-links:hover, header .nav .left-container .nav-links-kids:hover {
  color: #F9F9F9;
}

header .nav .left-container .nav-links:hover > .dropdown, header .nav .left-container .nav-links-kids:hover > .dropdown {
  display: block;
}

header .nav .left-container .nav-links-kids {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90px;
  height: 55px;
}

header .nav .left-container .nav-links-kids svg {
  padding-right: 20px;
}

header .nav .right-container {
  height: 62px;
}

header .nav .right-container .search {
  width: 240px;
  height: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

header .nav .right-container .search .nav-search-input {
  outline: none;
  background: none;
  border: none;
  font-size: inherit;
  caret-color: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

header .nav .right-container .search:focus-within {
  width: 340px;
  border-bottom: 1px solid #1f80e0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

header .nav .right-container .search input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 500;
}

header .nav .right-container .search span {
  width: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .nav .right-container .btn-subscribe {
  background-color: #1f80e0;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin: 15px 0 15px 20px;
  padding: 0 12px;
  height: 24px;
}

header .nav .right-container a {
  font-weight: 500;
  padding: 13px 0;
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.8);
}

.carousel {
  position: relative;
  margin-top: 72px;
  max-height: 566px;
  background-color: #0d111c;
  padding: 0 40px;
  cursor: pointer;
  z-index: 1;
}

.carousel:hover > .navigation {
  display: block;
}

.carousel .navigation {
  position: absolute;
  display: none;
  width: 100%;
  margin: 0 -40px;
  height: 100%;
}

.carousel .navigation button {
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 2em;
  font-weight: 700;
  cursor: pointer;
}

.carousel .navigation .left-arrow {
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel .navigation .right-arrow {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 562px;
  padding: 0;
  background-color: #090c14;
  border-radius: 10px;
}

.carousel .card .left-title {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel .card .left-title .title-card {
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-right: 10px;
}

.carousel .card .left-title .title-card h1 {
  font-size: 2em;
  font-weight: 700;
  color: white;
  line-height: 54px;
}

.carousel .card .left-title .title-card h2 {
  font-size: 1.125em;
  padding-top: 10px;
  line-height: 41px;
}

.carousel .card .left-title .title-card p {
  font-size: 1.125em;
  padding-top: 10px;
  line-height: 1.5em;
}

.carousel .card .right-image {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.carousel .card .right-image img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.carousel .card .right-image .gradient {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
  max-width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#090c14), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, #090c14, rgba(0, 0, 0, 0));
}

@media screen and (max-width: 1200px) {
  .carousel .card .left-title {
    position: absolute;
    display: block;
    top: 50%;
    left: 10%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 16px;
    z-index: 12;
  }
}

.show-tray-list {
  position: relative;
  padding: 15px 0 45px 0;
  margin-left: 40px;
}

.show-tray-list .header-wrapper {
  z-index: 2;
  margin-top: 30px;
}

.show-tray-list .header-wrapper h1 {
  line-height: 40px;
  font-size: 1.5em;
  font-weight: 700;
  color: white;
}

.show-tray-list .show-list {
  position: relative;
  margin: -40px 0 10px 0;
  padding-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  height: 350px;
  z-index: 2;
}

.show-tray-list .show-list::-webkit-scrollbar {
  display: none;
}

.show-tray-list .show-list .thumbnail-container {
  padding-bottom: 5px;
  position: relative;
  margin-right: 10px;
  border-radius: 4px;
}

.show-tray-list .show-list .thumbnail-container .thumbnail {
  width: 220px;
  cursor: pointer;
}

.show-tray-list .show-list .thumbnail-container .thumbnail img {
  width: inherit;
  border-radius: 4px;
}

.show-tray-list .show-list .thumbnail-container .thumbnail .details {
  display: none;
}

.show-tray-list .show-list .thumbnail-container .thumbnail:hover > img {
  z-index: 9;
  width: 290px;
  position: absolute;
  left: 0;
  top: -47px;
  border-radius: 4px;
}

.show-tray-list .show-list .thumbnail-container .thumbnail:hover > .details {
  padding: 15px;
  display: block;
  position: absolute;
  bottom: 10px;
  width: 260px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 4px;
  left: 0;
  z-index: 10;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#212b4600), to(#212b46));
  background-image: linear-gradient(#212b4600, #212b46);
}

.show-tray-list .show-list .thumbnail-container .thumbnail:hover > .details h3 {
  font-weight: 700;
  line-height: 20px;
  font-size: 18px;
}

.show-tray-list .show-list .thumbnail-container .thumbnail:hover > .details h4 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.show-tray-list .show-list .thumbnail-container .thumbnail:hover > .details p {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  line-height: 20px;
}

.show-tray-list .show-list .thumbnail-container .thumbnail:hover > .details .btn {
  margin-top: 10px;
  background: none;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 700;
  padding: 5px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  cursor: pointer;
}

.show-tray-list .show-list .thumbnail-container .thumbnail:hover > .details .btn:hover {
  background-color: #0d111c;
}
/*# sourceMappingURL=main.css.map */