@import "./variables";
@mixin row {
    display: flex;
    flex-direction: row;
}
@mixin column {
    display: flex;
    flex-direction: column;
}
@media  screen and (max-width: 900px){
    .nav-links{
        display: none;
    }
}
a,p,h1,h2,h3,h4,h5{
    font-family: $font-family;
    text-decoration: none;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.center{
    align-items: center;
}
body{
    margin: 0;
    padding: 0;
    color: $fill-color;
    fill: $fill-color;
    font-size: $font-size;
    background-color: $bg-color;
    overflow-x: hidden;
}
@import "./header";
@import "./banner";
@import "./tray";
@import "./footer";